<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/TableStyle.css")" rel="stylesheet" />
</head>
<body>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <div>
        @RenderBody()
    </div>


</body>
</html>
